*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.top{
    height: .9rem;
    background: #0078E6;
}
.logo{
    margin: 0;
    height: 100%;
    line-height: 0.9rem;
    text-align: center;
    /*vertical-align: middle;*/
    font-size: 18px;
    color: #fff;
}
.logo img{
    width: 0.7rem;
    margin-top: -0.1rem;
    vertical-align: middle;
}























































































































